<!DOCTYPE html>
<html>
    <head>
        <title>About | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>About</h1>
        <p>
            Hello I am Josh! I am a mostly self taught programmer and I am trying to learn Ruby on Rails.
        </p>
    </body>
</html>
