<html>
    <head>
        <title>Help | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Help</h1>
        <p> Get help by contacting me @ <a href="mailto:contact@cjoshmartin.com"> contact@cjoshmartin.com</a></p>
    </body>
</html>
